.subContent{
    color: #2C3539;
    background-color: #FFE87C;
    /* background: linear-gradient(to bottom,#212F3D,  #273746, #3f5265, #808B96, */
     /* #D5D8DC, #F8F9F9); */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* border-radius: 0 0 15rem 15rem ; */
}
.timeContent{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.cTagLine{
    color: #2C3539;
    font-weight: 500;
    font-size: 2.3rem;
    /* font-size: 1.34rem; */
    /* padding-top: 0.5rem; */
}

.cDateTime{  
    color: #2C3539;
    font-weight: 500;
    font-size: 1.2rem;
}

/* #17202A  #1C2833 #212F3D #273746 #2C3E50 #566573 #808B96
#ABB2B9 #D5D8DC #EAECEE #F8F9F9*/