
.app-main{
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Pen Script', cursive;
  /* background-color:brown; */
  /* height: 40rem;
  overflow: 'auto'; */
  /* font-family: 'Kalam', cursive; */
  /* font-family: 'Gloria Hallelujah', cursive;
  /* font-family: 'Handlee', cursive; */
  /* min-height: 80vh; */
  /* background-color:beige; */
}
.head{
  align-items: center;
  justify-content: center;
}